<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {{ form_start(form_contact) }}

            {{ form_widget(form_contact) }}
            <input type="submit" value="save">
{{ form_end(form_contact) }}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
